body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
header{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
border-bottom: 1px solid #e7e9fc
}
h1 {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
button {
background-color: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}
a:focus {
background-color: #404bbf;
}
a:hover {
background-color: #404bbf;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.seg-gez{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}
.sez-zse{
      color: #2e2f42;
}
.sab-bas{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
address{
  font-style: normal;
}
.sbe-ebs .yhn-nhy{
  background-color: #FFFFFF;
}
button:hover{
background-color: #404BBF;
}
button:focus{
  background-color: #404BBF;
  cursor: pointer
}
.bkz-kbz{
  line-height: 1.5;
  letter-spacing: 0.02em;
}
a:hover{
  color: #404bbf;
}
a:focus{
  color: #404bbf;
}
.olk-klo{
  color: #2e2f42;
}
.plm-mlp{
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
a{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
  margin-right: 76px
}
.sbe-eba{
  background-color: #2e2f42;
  padding: 188px 0;
}
.sbe-ebf{
  background-color: #f4f4fd;
}
.sbe-ebf .yhn-nhy{
  background-color: #FFFFFF;
}
h2{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
footer{
  color: #2e2f42;
  background-color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.alt-bilgi .footer-p {
  color: #f4f4fd;
}
p {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}
.logo-sinif {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-size: 18px;
}
.bus-sub{
  color: #434455;
}
.olk-klo .seg-gez .sez-zse{
  color: #f4f4fd;
}
header .container{
  display: flex;
  width: 1158px;
  margin: 0 auto;
}
header .container .navi-i{
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 15px;
}
header .div{
  display: flex;
}
nav{
  display: flex;
}
.bse-seb{
  max-width: 496px;
}
.gkn-kng{
  display: block; 
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.sbe-ebc{
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ank-uli{
  display: flex;
  gap: 24px;
}
.bez-zeb{
  margin-bottom: 8px;
}





















